@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* Default CSS Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Header Section with Image and Button */

.firstSection{
    /* max-width: 1300px; */
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    background: radial-gradient(#fff, #ffd6d6);
    /* border: 2px solid purple; */
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.col-2 p{
    color: #555;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #ffd6d6;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn:hover{
    background: #563434;
}

/* Categories Section with three Images */

.categoriesSection{
    margin: 70px 0px;
    /* border: 2px solid red; */
    
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

/* Featured Products Section with four Images */

/* .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5px);
}

.productSectionTitle{
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.productSectionTitle::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.productTitle{
    color: #555;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.productPrice{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.rating .fa{
    color: #ff523b;
}

/* Featured Products Section with four Images */

.offerSection{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0px;
    /* border: 2px solid red; */

}
.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 0px;
}

/* Review Section with three Images and Paras  */

.reviewSection{
    padding-top: 100px;
}
.reviewSection .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.reviewSection .col-3:hover{
    transform: translateY(-10px);
}

.reviewSection .col-3 img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.reviewPara{
    font-size: 12px;
    margin: 12px 0px;
    color: #777;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.reviewerName{
    font-weight: 600;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* Brands Section with five Images  */

.brandsSection{
    margin: 100px auto;

}
.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}



/* Utility Classes  */
p{
    color: #555;
    font-size: 14px;
}
h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
