<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<div class="navbar">
    <div class="logo">
        <img src="../../assets/images/logo.png" width="125px" alt="RedStore Logo" routerLink="/homePage">
    </div>

    <nav class="nav-list">
        <ul>
            <li><a routerLink="/homePage">Home</a></li>
            <li><a routerLink="/productPage">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a routerLink="/account">Account</a></li>
        </ul>
    </nav>
    <img src="../../assets/images/cart.png" width="30px" height="30px" alt="addTocart" class="cartLogo"
        routerLink="/cart">
</div>