<section class="section">

    <div class="thumbnail">
        <img src="../assets/bg3.jpg" alt="Republic Day">
    </div>
  
    <div class="division">
        <p class="sectionTag"> Website Template</p>
  
        <p class="sectionSubTag">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis id eos doloremque facilis explicabo exercitationem harum ipsa eveniet optio quaerat, rem accusantium cum ipsum doloribus, corporis molestias officia et modi ullam sapiente repellat alias sequi! Laudantium numquam at distinctio ab quos quis nemo voluptatum nisi, itaque autem! Excepturi corporis fugit ipsam nulla vel libero soluta fugiat, ducimus ipsum quas dolor iure molestiae asperiores aspernatur magni commodi recusandae at adipisci. Quaerat excepturi voluptate adipisci architecto!</p>
        <div class="buttons">
  
          <button class="signUpbtn" routerLink="/reactive-form">SignUp</button>
      </div>
    </div>
  </section>

 
