<!------------------------------- Account-Page  ------------------------------>
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/images/image1.png" width="100%" alt="">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <mat-card class="example-card">
                        <mat-card-content>

                            <form>
                                <div class="form-group">
                                    <mat-form-field appearance="outline" hintLabel="Max 12 characters">
                                        <mat-label>Enter Your Email</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>

                                <button type="submit" class="btn">Submit</button>
                                <button type="submit" class="btn" routerLink="/account">Back</button>
                            </form>
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>