@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Default CSS Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Account-Page */

.account-page{
    padding: 50px 0px;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 250px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.form-btn{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.form-container form{
    font-family: 'Poppins', sans-serif;
    max-width: 300px;
    padding: 0px 20px;
    position: absolute;
    /* top: 130px; */
    transition: transform 1s;
}

/* Utility Classes  */

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}


form .btn{
    width: 69%;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
}

form .btn:focus{
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #ffd6d6;
}

.btn:hover{
    background: #563434;
}

.mat-card{
    box-shadow: none;
}