<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-------------------- Single Product Details  ---------------------------------->

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/images/gallery-1.jpg" width="100%" alt="">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../../../assets/images/gallery-1.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="../../../assets/images/gallery-2.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="../../../assets/images/gallery-3.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="../../../assets/images/gallery-4.jpg" width="100%" alt="">

                </div>
            </div>
        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>Red Printed T-Shirt by HRX</h1>
            <h4>Rs. 399/-</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">
            <button class="btn" routerLink="/cart">Add to Cart &#8594;</button>
            <h3>Product Details<i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your Summer wardrobe a style upgrade with the HRX Men's Active T-Shirts. Team it with pair of
                shorts for your morning or a denims for an evening out with the guys.</p>

        </div>
    </div>
</div>

<!----------------------------------------- Title  ---------------------------------->

<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p class="productDetailPara" routerLink="/productPage">View more</p>
    </div>
</div>
<!------------------------ Featured Products Section and Latest Product Section ---------------->
<div class="small-container">
    <!-- <h2 class="productSectionTitle">Featured Products</h2> -->

    <div class="row">
        <div class="col-4">
            <img src="../../../assets/images/product-4.jpg" alt="">
            <h4 class="productTitle">Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 399/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-5.jpg" alt="">
            <h4 class="productTitle">HRX Sports Shoes</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 749/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-6.jpg" alt="">
            <h4 class="productTitle">HRX Gray Trackpants</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p class="productPrice">Rs. 999/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-7.jpg" alt="">
            <h4 class="productTitle">Puma T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 899/-</p>
        </div>
    </div>
</div>