<!------------------------------- Account-Page  ------------------------------>
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/images/image1.png" width="100%" alt="">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab class="form-btn" label="Login">
                                <app-login></app-login>
                            </mat-tab>
                            <mat-tab label="Register">
                                <app-register></app-register>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>