<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!------------------------ Featured Products Section and Latest Product Section ---------------->
<div class="small-container">
    <!-- <h2 class="productSectionTitle">Featured Products</h2> -->
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by Sale</option>
        </select>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/images/product-1.jpg" alt="">
            <h4 class="productTitle">Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 399/-</p>
            <button class="btn" routerLink="/productDetail">Buy Now &#8594;</button>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-2.jpg" alt="">
            <h4 class="productTitle">HRX Sports Shoes</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 749/-</p>
            <button class="btn">Add to Cart &#8594;</button>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-3.jpg" alt="">
            <h4 class="productTitle">HRX Gray Trackpants</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p class="productPrice">Rs. 999/-</p>
            <button class="btn">Add to Cart &#8594;</button>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-4.jpg" alt="">
            <h4 class="productTitle">Puma T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 899/-</p>
            <button class="btn">Add to Cart &#8594;</button>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="../../../assets/images/product-5.jpg" alt="">
            <h4 class="productTitle">Puma Sports Shoes</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 749/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-6.jpg" alt="">
            <h4 class="productTitle">Puma Designer T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 999/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-7.jpg" alt="">
            <h4 class="productTitle">HRX Set of 3 Socks</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p class="productPrice">Rs. 199/-</p>
        </div>
        <div class="col-4">
            <img src="../../../assets/images/product-8.jpg" alt="">
            <h4 class="productTitle">Fossil Wrist Watch</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p class="productPrice">Rs. 1499/-</p>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/images/product-9.jpg" alt="">
                <h4 class="productTitle">Roaster Sports Watch</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p class="productPrice">Rs. 500/-</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/images/product-10.jpg" alt="">
                <h4 class="productTitle">HRX Sports Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p class="productPrice">Rs. 1299/-</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/images/product-11.jpg" alt="">
                <h4 class="productTitle">Nike Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="productPrice">Rs. 799/-</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/images/product-12.jpg" alt="">
                <h4 class="productTitle">HRX Black Trackpants</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p class="productPrice">Rs. 699/-</p>
            </div>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>

    </div>
</div>