<mat-card class="example-card">
  <mat-toolbar>Element Entry
    <span class="fill-remaining-space"></span>
    <button style="outline: none;" mat-icon-button (click)="closeVendorPopup();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>

    <form [formGroup]="addElementForm">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter the Element Name</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter Element Weight</mat-label>
          <input matInput formControlName="Weight">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter the Element Symbol</mat-label>
          <input type="text" matInput formControlName="Symbol">
        </mat-form-field>
      </div>

      <div class="button-row">
        <button class="btn" mat-raised-button color="primary" (click)="addUpdateElement()">{{action | titlecase}}
        </button>
      </div>

    </form>
  </mat-card-content>

</mat-card>
