<mat-card class="example-card mat-elevation-z8">
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>

    <form [formGroup]="loginForm">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter Your Email</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
      </div>

      <div class="button">
        <button type="submit" class="btn" mat-raised-button color="primary" (click)="login()">Login</button>
      </div>

    </form>
  </mat-card-content>

  <mat-card-footer id="formFooter">
    <a class="underlineHover" routerLink="/signup">Don't have an Account. Register Now.</a>

  </mat-card-footer>

</mat-card>