<footer>
  <div class="footerLayout">
    <div class="about">
      <h4 class="h4-heading">About</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia maxime dicta iure quidem accusamus consectetur
        repudiandae minus qui assumenda ex labore molestias illo odit porro id eius beatae autem amet odio, nulla ut
        ducimus?</p>
    </div>
    <!-- <div class="categories"> -->
    <div class="links">
      <h4 class="h4-heading">Tables & Pipes</h4>
      <ul>
        <li><a routerLink="/table">Table</a></li>
        <li><a routerLink="/periodicTable">Periodic Table</a></li>
        <li><a routerLink="/expansionTable">Expansion Table</a></li>
        <li><a routerLink="/pipe">Pipe</a></li>
        <li><a routerLink="/customPipe">Custom Pipe</a></li>
      </ul>
    </div>
    <div class="links">
      <h4 class="h4-heading">Stores</h4>
      <ul>
        <li><a routerLink="/departments">Departments</a></li>
        <li><a routerLink="/game">Guess the Number</a></li>
        <li><a routerLink="/ckeditor">CK Editor</a></li>
        <li><a href="#">Java</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <hr>
    <p> Copyright &copy; Website Template.All Rights Reserved |</p>
  </div>
</footer>
